@import "_normalize-min";
@import "_borderbox-and-clearfix";

//*********
//VARIABLES
//*********

//COLORS
$white:      #FFF;
$textGrey:   #4A4A4A;
$linkBlue:   #4A90E2;

//FONTS
$fontstack: "Avenir Next", Avenir, Tahoma, sans-serif;

body {
	
}