@import "_normalize-min";
@import "_borderbox-and-clearfix";

//*********
//VARIABLES
//*********

//COLORS
$white: #FFF;
$textGrey: #4A4A4A;
$linkBlue: #4A90E2;

//FONTS
$fontstack: "Avenir Next", Avenir, "museo-sans", Arial, sans-serif;

$screenS: 768px; //ipad1, 2, and iPad mini portrait (768x1024)
$screenM: 1024px; //landscape tablet and up (1024x768)
$screenL: 1200px; //Nexus 10 landscape, smaller desktops, etc.
$screenXL: 1824px; //bigger is better

//NOTE: currently don't have sizing for landscape small tablet - do we want to add it? (600x800)

body {
	font-family: $fontstack;
	line-height: 1.5;
	text-align:center;
	color: $textGrey;
	background-color: #fff;
}

h1 {
	font-size: 3rem;
	font-weight: 600;
	line-height: 1;
	margin:1.5rem 0;
	@media (min-width: $screenS) {
		margin:3rem 0;
	}
	@media (min-width: $screenM){
		font-size: 4rem;
	}
}

a {
	color: $linkBlue;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
	&:hover {
		color: darken($linkBlue, 20%);
	}
}

.mainContainer {
	margin: 0 auto;
	@media (min-width: $screenS){
		margin-top: 10rem;
		max-width: 50rem;
	}
	@media (min-width: $screenM){
		margin-top: 5rem;
		max-width:65rem;
	}
	@media (min-width: $screenXL){
		margin-top:10rem;
		max-width: 80rem;
	}
}

.mainContent {
	p {
		font-size: 1rem;
		padding: 0 1rem;
	}
	@media (min-width: $screenS){
		float:right;
		margin: 3rem 3rem 0 0;
		max-width: 20rem;
		p {
			font-size: 1.25rem;
		}
	}
	@media (min-width: $screenM){
		margin-right: 10rem;
	}
	@media (min-width: $screenL){
		margin-top: 1rem;
		max-width: 24rem;
	}
	@media (min-width: $screenXL){
		margin-top: 5rem;
		max-width: 35rem;
	}
}

.phoneContainer {
	position:relative;
	width: 232px; //exact dimensions probably needed for video!
	margin: 0 auto;
	@media (min-width: $screenS){
		width: 298px;
		float: left;
		margin-left: 3rem;
	}
	@media (min-width: $screenM){
		margin-left: 10rem;
	}
	@media (min-width: $screenL){
		width: 232px; //yes no? too small?
	}
	@media (min-width: $screenXL){
		width: 328px;
	}
	img {
		width: 100%;
		display: block;
		margin: 0 auto;
	}
	video.stringsDemo {
		position: absolute;
		top: 4.4rem;
		left: 1rem;
		width: 200px;
		height: 350px;
		@media (min-width: $screenS){
			top: 5.6rem;
			left: 1.4rem;
			width: 255px;
			height: 447px;
		}
		@media (min-width: $screenL){
			top: 4.4rem;
			left: 1rem;
			width: 200px;
			height: 350px;
		}
		@media (min-width: $screenXL){
			top: 6.2rem;
			left: 1.5rem;
			width: 281px;
			height: 492px;
		}
	}
}

.appStoreImageSmallScreen {
	width: 9.25rem;
	margin: 2rem auto 1rem;
	@media (min-width: $screenS){
		display:none;
	}
	img{
		width:100%;
	}
}

.appStoreImageBiggerScreen {
	display: none;
	@media (min-width: $screenS){
		display: block;
		margin: 2rem auto;
		width: 10rem;
	}
	@media (min-width: $screenM){
		width: 13rem;
	}
	img{
		width: 100%;
	}
}

footer {
	margin: 2rem 0;
	p{
		font-size: 0.8rem;
		margin: 0;
	}
	p.copyright {
		font-weight: 300;
	}

	@media (min-width: $screenS){
		clear: both;
		margin-top: 8rem;
		p {
			font-size: 1.8rem;
		}
		p.copyright {
			font-size: 1.5rem;
		}
	}
	@media (min-width: $screenM){
		float: right;
		margin-top: -5rem;
		margin-right: 14.5rem;
	}
	@media (min-width: $screenL){
		float: none;
		margin: 4rem 0 2rem;
	}
	@media (min-width: $screenL){
		margin-top: 8rem;
	}
}