@import "_normalize-min";
@import "_borderbox-and-clearfix";

//*********
//VARIABLES
//*********

//COLORS
$white: #FFF;
$textGrey: #4A4A4A;
$linkBlue: #4A90E2;

//FONTS
$fontstack: "Avenir Next", Avenir, Arial, sans-serif;

$screenS: 768px; //ipad1, 2, and iPad mini portrait (768x1024)
$screenM: 1024px; //landscape tablet and up (1024x768)
$screenL: 1200px; //Nexus 10 landscape, desktops, etc.
$screenXL: 1824px;

body {
	font-family:$fontstack;
	line-height: 1.5;
	text-align:center;
	color: $textGrey;
	background-color:#fff;
}

h1 {
	font-size: 3rem;
	font-weight: 600;
	line-height: 1;
	margin:1.5rem 0;
	@media (min-width: $screenS) {
		margin:3rem 0;
	}
	@media (min-width: $screenM){
		font-size: 4rem;
	}
}

a {
	color: $linkBlue;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
	&:hover {
		color: darken($linkBlue, 20%);
	}
}

.appStoreContainer {
	width:100%;
	height:5rem; //remove when real thing's put in
	background-color:#CCC;
	@media (min-width: $screenS){
		display:none;
	}
}

.mainContainer {
	@media (min-width: $screenS){
		margin-top: 10rem;
	}
	@media (min-width: $screenM){
		margin-top: 5rem;
		max-width: 50rem;
	}
}

.mainContent {
	p {
		font-size: 0.625rem;
	}
	@media (min-width: $screenS){
		float:right;
		margin: 3rem 3rem 0 0;
		max-width:20rem;
		p {
			font-size: 1.25rem;
		}
	}
	@media (min-width: $screenM){
		margin-right: 10rem;
	}
}

.phoneContainer {
	width: 232px; //exact dimensions probably needed for video!
	margin: 0 auto;
	@media (min-width: $screenS){
		width: 298px;
		float:left;
		margin-left: 3rem;
	}
	@media (min-width: $screenM){
		margin-left: 10rem;
	}
	img {
		width:100%;
		display: block;
		margin: 0 auto;
	}
}

.appStoreImage {
	width: 9.25rem;
	margin: 1.5rem auto;
	@media (min-width: $screenS){
		width:17rem;
		margin-top:3rem;
	}
	@media (min-width: $screenM){
		margin-top: 2rem;
	}
	img{
		width:100%;
	}
}

footer {
	margin: 4rem 0 2rem;
	p{
		font-size: 0.8rem;
		margin: 0;
	}
	p.copyright {
		font-weight: 300;
	}

	@media (min-width: $screenS){
		clear: both;
		margin-top: 8rem;
		p {
			font-size: 1.8rem;
		}
		p.copyright {
			font-size: 1.5rem;
		}
	}
	@media (min-width: $screenM){
		float: right;
		margin-top: -5rem;
		margin-right: 14.5rem;
	}
}